SIGNUP_KEY=  # If set, requires a key to access the signup page (e.g. https://localhost:4513/signup?key=<key>)
ADMIN_PASSWORD=  # If *not* set, access to admin routes is blocked
CF_TURNSTILE_SECRET=  # Requited to stop automated form submissions (https://www.cloudflare.com/application-services/products/turnstile/)
API_KEY=  # If set, requires bearer token in request header for API access without session